In [51]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 33)
arquivo = pd.read_csv('D:/Github/data-science/machine-learning/segundo-modulo/ada-boost/school_grades_weca_dataset.csv')

In [52]:
arquivo.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,fatherd,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [53]:
arquivo.shape

(649, 33)

In [54]:
faltantes = arquivo.isnull().sum()
faltantes_percentual = (arquivo.isnull().sum() / len(arquivo['sex'])) * 100
print(faltantes_percentual)

school        0.0
sex           0.0
age           0.0
address       0.0
famsize       0.0
Pstatus       0.0
Medu          0.0
Fedu          0.0
Mjob          0.0
Fjob          0.0
reason        0.0
guardian      0.0
traveltime    0.0
studytime     0.0
failures      0.0
schoolsup     0.0
famsup        0.0
fatherd       0.0
activities    0.0
nursery       0.0
higher        0.0
internet      0.0
romantic      0.0
famrel        0.0
freetime      0.0
goout         0.0
Dalc          0.0
Walc          0.0
health        0.0
absences      0.0
G1            0.0
G2            0.0
G3            0.0
dtype: float64

In [55]:
arquivo.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
fatherd       object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [56]:
objetos = arquivo.drop(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 
                        'Dalc', 'Walc', 'absences', 'G1', 'G2', 'G3'], axis = 1)

In [57]:
#Tranformando variáveis categóricas em números (one hot encode)
objetos_encoding = pd.get_dummies(objetos)

In [58]:
objetos_encoding.head()

,health,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,...,schoolsup_no,schoolsup_yes,famsup_no,famsup_yes,fatherd_no,fatherd_yes,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,3,1,0,1,0,0,1,1,0,1,0,1,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1,0,1,1,0,1,0
1,3,1,0,1,0,0,1,1,0,0,1,1,0,0,0,0,...,1,0,0,1,1,0,1,0,1,0,0,1,0,1,1,0
2,3,1,0,1,0,0,1,0,1,0,1,1,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1,0,1,0,1,1,0
3,5,1,0,1,0,0,1,1,0,0,1,0,1,0,0,0,...,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,1
4,5,1,0,1,0,0,1,1,0,0,1,0,0,1,0,0,...,1,0,0,1,1,0,1,0,0,1,0,1,1,0,1,0

In [61]:
#Excluindo variáveis categóricas da variável arquivo
arquivo.drop(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 
              'fatherd','activities', 'nursery', 'higher', 'internet', 'romantic'], axis = 1, inplace = True)

In [62]:
#Inserindo as variáveis one hot encode novamente no dataset
concatenado = pd.concat([arquivo, objetos_encoding], axis=1)

In [63]:
concatenado.shape

(649, 60)

In [64]:
#Definindo variáveis preditoras e variável target
y = concatenado['G3']
x = concatenado.drop('G3', axis=1)

In [65]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
#Criação do modelo:
modelo = AdaBoostRegressor()
kfold = KFold(n_splits=5)
resultado = cross_val_score(modelo,x,y,cv = kfold, n_jobs=-1)
print(resultado.mean())

0.7162500803610264

In [88]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
#Criação do modelo:
modelo = AdaBoostRegressor(n_estimators=500, learning_rate=0.1)
kfold = KFold(n_splits=5)
resultado = cross_val_score(modelo,x,y,cv = kfold, n_jobs=-1)
print(resultado.mean())

0.6989421180953094

In [89]:
import numpy as np
from sklearn.model_selection import GridSearchCV

#Definindo os valores que serão testados em Adaboost:
valores_grid = {'learning_rate': np.array([0.3,0.2,0.1,0.05, 2.55])}

#Criando os grids:
gridAdaBoost = GridSearchCV(estimator = modelo, param_grid = valores_grid, cv=5, n_jobs=-1)
gridAdaBoost.fit(x,y)

#Imprimindo os melhores parâmetros:
print ("Melhor taxa de aprendizagem: ", gridAdaBoost.best_estimator_.learning_rate)
print ("Acurácia: ", gridAdaBoost.best_score_)

Melhor taxa de aprendizagem:  0.05
Acurácia:  0.7112968867656946